@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebarIcon {
    @apply relative flex items-center justify-center mx-auto text-white hover:text-gray-50 transition-all
  }

  .sidebarIcon:not(:last-child){
    @apply mb-8
  }

  .sideBarTooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-16 rounded-md shadow-md text-white bg-dfGrey text-xs font-bold transition-all duration-100 scale-0 origin-left
  }

  #login input[type="text"],#login input[type="password"] {
    font-weight: 500;
    @apply bg-zinc-100 rounded-lg p-3 text-sm w-full
  }

  #alert{
    min-width: min(25%, 300px);
  }

  table td[scope="col"], table thead th[scope="col"] {
    @apply w-1/6 max-w-sm py-2 px-2 overflow-hidden text-ellipsis
  }

  table td.actions, table thead th.actions{
    @apply text-center
  }

  table thead th{
    @apply py-3 px-2
  }

  table thead th button.order-table[selected=""]{
    @apply text-gray-400
  }

  #crear-solicitud input, #crear-solicitud select, .acciones input{
    @apply border border-neutral-300 rounded-md p-2 mb-10 bg-white
  }

  #crear-solicitud select[value='DATA']{
    @apply text-red-700
  }

  #crear-solicitud label:first-child{
      @apply mt-4
    }
  #crear-solicitud label span{
    @apply text-lg underline font-semibold
  }

  form.acciones input{
    @apply mb-4
  }

  .button-outline{
    @apply bg-white border rounded-lg p-2 border-neutral-300 hover:bg-neutral-200 transition-all duration-200
  }

  .modal{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
  }

  .backdrop{
    position: fixed;
    inset: 0 0;
    height: 200vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
  }
}
